.areaJogador {
    text-align: center;
}

.opcaoEscolhida {
    font-size: 50px;
    width: 100px;
    filter: grayscale(100%);
}

.opcaoEscolhida:hover {
    filter: grayscale(0%) drop-shadow(5px 8px 8px #000);
    cursor: pointer;
}

.opcaoFinal {
    font-size: 50px;
    width: 100px;
}

.jogar {
    margin-top: 20px;
    padding: 1rem;
    background-color: #ccc;
    cursor: pointer;
}

.ativo {
    filter: grayscale(0%) drop-shadow(5px 8px 8px #000);
}

.resultado{
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.x {
    font-size: 100px;
    font-weight: bolder;
}

.mensagem {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}